<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div ng-controller="ManageBeaconCtrl">

        <h1>Hallinnoi näyttelykappaleita</h1>
        <form>
          <table border="1" width=600px>
          <th>BeaconID</th>
          <th>Name</th>
          <th>Author</th>
          <th>Year</th>
          <th>Description</th>
          <th>Image url</th>
          <th>Location (room)</th>
          <th>Edit</th>
          <th>Delete</th>
      		<tr ng-repeat="x in objects">

          <td width=400px>{{x.id_beacon}}</td>
          <td width=10px><input ng-model="x.name" value={{x.name}}/></td>
          <td><input ng-model="x.author" value={{x.author}}/></td>
          <td><input ng-model="x.year" value={{x.year}}/></td>
          <td><input ng-model="x.description" value={{x.description}}/></td>
          <td><input ng-model="x.image_url" value={{x.image_url}}/></td>
          <td><input ng-model="x.showroom" value={{x.showroom}}/></td>
          <td><input type="Submit" ng-click="updateBeacon(x.id_beacon, x.name, x.author, x.year, x.description, x.image_url, x.showroom)" value="Edit"/></td>
          <td><input type="Submit" ng-click="deleteBeacon(x.id_beacon)" value="Delete"/></td>
          </tr>
          </table>
          </form>
        </div>
    </body>
</html>
